.form-container{
  font-size: 16px;
}
.question-card-container {
  width: 55%;
  margin: auto;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  .question-card {
    padding: 40px;
    @media only screen and (max-width: 600px) {
      padding: 20px 0px;
    }
    
    .submit-container {
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      .submit-box {
        text-align: center;
        .submit-button {
          width: 50%;
        }
      }
    }
  }

  .nav-button {
    position: absolute;
    right: 21%;
    z-index: 5;
    padding: 20px;
    border: none;
    @media only screen and (max-width: 600px) {
      right: 2px;
      top: 4px;
    }
  }
}


