.question-card-container {
  width: 55%;
  margin: auto;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
  
  .question-card {
    padding: 40px;
    @media only screen and (min-width: 600px) {
      height: 260px;
    }
    @media only screen and (max-width: 600px) {
      padding: 0;  
    }
    .submit-container {
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      .submit-box {
        text-align: center;
        .submit-button {
          width: 50%;
        }
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
    .nav-button{
      padding: 5px;
      height: 50px;
      width: 120px;
    }
  }
}
