.yesNo-box {
  width: 400px;
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
  .yesNo-button-container {
    padding: 10px;
    text-align: center;
    width: 100px;
    .yesNo-button {
      height: 50px;
    }
    .selected {
      border-color: #3f51b5;
      border-width: 2px;
    }
  }
}
