.home-page-container {
  width: 100%;
  .container-1 {
    margin: auto;
    text-align: center;
    width: 70%;
    padding: 20px;
    @media only screen and (max-width: 600px) {
      width: 100%;
      padding: 0;
      padding-top: 15px;
    }
    .slogan-box {
      .slogan {
        font-size: 32px;
        // padding: 10px;
        @media only screen and (max-width: 600px) {
          font-size: 25px;
          padding: 15px 10px 15px;
          margin: auto;
        }
      }
    }
    .descriptive-box {
      padding: 10px;
      @media only screen and (max-width: 600px) {
        font-size: 13px;
        padding: 5px 10px;
        .descriptive {
          font-weight: 500;
          margin: auto;
        }
      }
    }
    .button-container {
      padding: 30px;
      color: white;

      .action-button {
        font-size: 1.5rem;
        @media only screen and (max-width: 600px) {
          font-size: 1.3rem;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
  .interdiction-video {
    padding: 20px;
    .text {
      padding: 5px;
    }
  }
}
@media only screen and (min-width: 600px) {
  .dialog {
    height: 300px;
    width: 500px;
    overflow-y: hidden;
  }
}
