.home-page {
  width: 100%;
  .introduction {
    margin: auto;
    text-align: center;
    .slogan-container {
      padding: 20px;
      .app-name {
        font-size: 2rem;
        padding: 10px;
        text-align: center;
      }
      .slogan {
        text-align: center;
        font-size: 3rem;
        @media only screen and (max-width: 600px) {
          font-size: 1.5rem;
        }
      }
    }
    .button-container {
      padding: 20px;
      color: white;
      .action-button {
        font-size: 1.5rem;
      }
      a {
        text-decoration: none;
      }
    }
    .descriptive-slogan-container {
      font-size: 1.5rem;
      text-align: center;
      padding: 15px;
      @media only screen and (max-width: 600px) {
        font-size: 1.1rem;
      }
    }
  }
  .interdiction-video {
    .video-button {
      width: 200px;
      margin: auto;
      text-align: center;
    }
  }
}
@media only screen and (min-width: 600px) {
  .dialog {
    height: 300px;
    width: 500px;
    overflow-y: hidden;
  }
}
