.multi-input-container {
  text-align: center;
  position: relative;
  .multi-input-box {
    position: relative;
    margin: auto;
    .multi-input-style {
      font-size: 20px;
      width: 100%;
      direction: rtl;

    }
  }
  .multi-label {
    position: absolute;
    top: 7px;
    right: 8px;
    background: white;
    z-index: 1;
    font-size: 12px;
    padding: 0px 9px;
  }
}
