.multi-input-container {
  text-align: center;
  position: relative;
  .multi-input-box {
    position: relative;
    margin: auto;
  }
  .multi-label {
    position: absolute;
    top: 7px;
    right: 8px;
    background: white;
    z-index: 1;
    font-size: 12px;
    padding: 0px 9px;
  }
  .multi-input-style {
    font-size: 20px;
    // padding: 15px 10px;
    width: 100%;
  }
}
