.card {
  .text {
    text-align: center;
    font-size: 30px;
    direction: rtl;
    padding: 15px 10px;
    height: 50px;
    @media only screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
}
