.card {
  position: relative;
  animation-name: enterRight;
  animation-duration: 0.5s;
  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    animation-name: fadeIn;
    animation-duration: 1.5s;
  }
  .text {
    text-align: center;
    font-size: 30px;
    direction: rtl;
    padding: 15px 10px;
    @media only screen and (max-width: 600px) {
      font-size: 23px;
      padding: 10px;
    }
  }
  .text-2 {
    text-align: center;
    font-size: 18px;
    direction: rtl;
    padding: 15px 10px;
    // height: 50px;
    @media only screen and (max-width: 600px) {
      font-size: 16px;
      padding: 10px;
    }
  }
  .card-input-container {
    width: 60%;
    margin: auto;
    @media only screen and (max-width: 600px) {
      width: 80%;
    }
  }
}

@keyframes enterRight {
  from {
    right: -50px;
  }
  to {
    right: 0px;
  }
}
@keyframes fadeIn {
  from {
    background-color: white;
    z-index: 1;
  }
  to {
    background-color: transparent;
    z-index: -1;
  }
}
